---
// Types/constants
import { allRatedWallets } from '@/data/wallets'
import { defaultNavigationItems } from '@/components/navigation'


// Functions
import { nonEmptyKeys, nonEmptyMap } from '@/types/utils/non-empty.ts'


// Routes
export const prerender = true

export const getStaticPaths = () => [
	...nonEmptyMap(nonEmptyKeys(allRatedWallets), walletName => ({
		params: { walletName },
	})),
]

const { walletName } = Astro.params


// Data
const wallet = allRatedWallets[walletName]


// Components
import Layout from '@/layouts/Layout.astro'
import Navigation from '@/ui/organisms/Navigation.astro'
import WalletPage from '@/components/WalletPage.svelte'
// import { WalletPage as WalletPageReact } from '@/components/WalletPage.tsx'
---

<Layout
	metadata={{
		title: `${wallet.metadata.displayName} - Walletbeat`,
		description: `How does ${wallet.metadata.displayName} stack up as an Ethereum wallet?`,
		icons: [
			{
				url: `/images/wallets/${wallet.metadata.id}.${wallet.metadata.iconExtension}`,
			},
		],
		keywordsBefore: [
			wallet.metadata.id,
			wallet.metadata.displayName,
			`${wallet.metadata.id} wallet`,
			`${wallet.metadata.displayName} wallet`,
			'wallet',
		],
		keywordsAfter: ['ranking', 'reviews', 'security', 'privacy'],
	}}
>
	<Navigation navigationItems={defaultNavigationItems} />

	<main>
		<WalletPage {walletName} client:load />
		{/* <WalletPageReact {walletName} client:load /> */}
	</main>
</Layout>
